.cartItems {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 90%;
  background-color: gray;
  height: 2px;
}
